<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAFEST</title>
  <link rel="icon" type="image/x-icon" class="h-25" href="/src/assets/images/fav_icon.png" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/src/components/dcumentations/dft-documetations.css" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/script.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Js -->


</head>

<body>
  <nav id="navbar" class="navbar navbar-light bg-light navbar-expand-sm
      fixed-top" style="background-color:white; overflow:auto">

    <a class="navbar-brand " href="/index.html"><img src="/src/assets/images/SAFEST_LOGO_.png"
        style="width: auto; height: 40px;"></a>

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="collapse">
      <ul class="navbar-nav ms-auto me-auto">
        <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/src/components/installation/installation.html" class="nav-link">Installation</a></li>
        <li class="nav-item"><a href="/src/components/licenses/dft-licenses.html" class="nav-link">Licenses</a></li>
        <li class="nav-item active "><a href=" /src/components/documentations/dft-documentations.html"
            class="nav-link">Documentations</a></li>
        <li class="nav-item"><a href="/src/components/support/dft-support.html" class="nav-link">Support</a></li>
        <li class="nav-item"><a href="/src/components/case_studies/dft-case-studies.html" class="nav-link">Case
            Studies</a></li>
        <li class="nav-item"><a href="/src/components/team/dft-team.html" class="nav-link">Team</a></li>
        <li class="nav-item"><a href="/src/components/contact/contact.html" class="nav-link">Contact</a></li>

      </ul>
    </div>
    <a class="navbar-brand " href="https://www.dgbtek.com"><img src="/src/assets/images/dgb-logo.png"
        style="width: auto; height: 40px;"></a>

  </nav>



  <section style="margin-top: 4rem;">
    <nav class="navbar navbar-light bg-light navbar-expand-sm d-flex" style="background-color:white; " id="local-nav">
      <div class="container mt-4">
        <ul class="navbar-nav px-5 ms-auto me-auto">
        <li class="nav-item"><a href="#documentationPublicationsId" class="nav-link">Publications</a></li>
        <li class="nav-item"><a href="#documentationVideosId" class="nav-link"> Videos</a></li>
        <li class="nav-item"><a href="#documentationLecturesId" class="nav-link"> Lectures</a></li>
      </ul>
    </div>
  </nav>
    <div class="content ">
      <div class="doc-content col-sm-8 m-auto">
    
        <section id="documentationPublicationsId">
          <div class="container-fluid col-sm-8 my-5 ">
            <div class="row" style="margin-top: 40px; margin-left: auto; margin-right: auto">
              <div class="csi-body">
                <h3 style="text-align: center">Publications</h3>
                <div class="divider-line-center"></div>
              </div>
            </div>
          </div>
          <div class="jumbotron" style="background-color:white">
            <div class="container-fluid">
              <!-- <img src="/src/assets/images/Presentation.jpeg" class="d-flex m-auto" alt="news-span" width="40%"> -->
              <div class="display-3 text-center">
                <h4 class="text-center mt-3"><i>Explore content for transforming research and teaching</i></h4>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://esrel2024.com/" target="_blank">
                Masood Akmali, Falak Sher. Advancing Nuclear Reactor Safety Analysis: Methodological Innovations and Results from Dynamic Probabilistic Safety  Assessment. The European Safety and Reliability Conference (ESREL 2024), IAEA
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>
              <li class="list-group-item"><a href="https://esrel2024.com/" target="_blank">
                Masood Akmali, Falak Sher. Evolving PSA Methodologies: Towards Dynamic Reliability in SMR Passive Systems. The International Conference on Small Modular Reactors and their Applications 2024, IAEA, Vienna
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>
              <li class="list-group-item"><a href="https://ieeexplore.ieee.org/document/10457719" target="_blank">
                Matthias Volk, Falak Sher, Joost-Pieter Katoen and Marielle Stoelinga: SAFEST: Fault Tree Analysis via Probabilistic Model Checking.
                70th Annual Reliability and Maintainability Symposium (RAMS) 2024
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>
              <li class="list-group-item"><a href="https://www.rpsonline.com.sg/proceedings/esrel2023/html/P407.html" target="_blank">
                  Ahmad Zafar, Joost-Pieter Katoen, Falak Sher, Marielle Stoelinga, Muzammil Ibne Irshad: SAFEST: the
                  static and dynamic fault tree analysis tool. European Conference On Safety And Reliability (ESREL) 2023.
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://link.springer.com/chapter/10.1007/978-3-031-06773-0_38" target="_blank">
                  Daniel Basgöze, Matthias Volk, Joost-Pieter Katoen, Shahid Khan, Mariëlle Stoelinga: BDDs Strike Back -
                  Efficient Analysis of Static and Dynamic Fault Trees. NFM 2022: 713-732
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://doi.org/10.1007/s10009-022-00652-4" target="_blank">
                  Norman Weik, Matthias Volk, Joost-Pieter Katoen, Nils Nießen: DFT modeling approach for operational risk
                  assessment of railway infrastructure. Int. J. Softw. Tools Technol. Transf. 24(3): 331-350 (2022)
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://ieeexplore.ieee.org/document/9672579" target="_blank">
                  Shahid Khan, Joost-Pieter Katoen, Matthias Volk, Ahmad Zafar, Falak Sher. Modelling and Analysis of Fire
                  Sprinklers by Verifying Dynamic Fault Trees, 10th Latin-American Symposium on Dependable Computing
                  (LADC), IEEE, 2021.
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://ieeexplore.ieee.org/document/9667668" target="_blank">
                  Shahid Khan, Joost-Pieter Katoen: Synergising Reliability Modelling Languages: BDMPs and Repairable
                  DFTs. PRDC 2021: 113-122
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://www.unravel.rwth-aachen.de/cms/unravel/forschung/publikationen/~ofig/details/?file=755407&lidx=1" target="_blank">
                  Majdi Ghadhab, Sebastian Junges, Joost-Pieter Katoen, Matthias Kuntz, Matthias Volk. Safety analysis for
                  vehicle guidance systems with dynamic fault trees, Reliability engineering & system safety 186, pages
                  37-50, Elsevier Science, 2019.
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://doi.org/10.1007/978-3-030-30446-1_27" target="_blank">
                  Yassmeen Elderhalli, Matthias Volk, Osman Hasan, Joost-Pieter Katoen, Sofiène Tahar. Formal Verification
                  of Rewriting Rules for Dynamic Fault Trees, 17. edition of the International Conference on Software
                  Engineering and Formal Methods (SEFM 2019), Volume 11724, Theoretical computer science and general
                  issues of LNCS, 513-531, Springer, 2019.
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://research.utwente.nl/en/publications/one-net-fits-all-a-unifying-semantics-of-dynamic-fault-trees-usin" target="_blank">
                  Sebastian Junges, Joost-Pieter Katoen, Mariëlle Stoelinga, Matthias Volk: One Net Fits All - A Unifying
                  Semantics of Dynamic Fault Trees Using GSPNs. Petri Nets 2018: 272-293
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://ieeexplore.ieee.org/document/7937886" target="_blank">
                  Matthias Volk, Sebastian Junges, Joost-Pieter Katoen. Fast Dynamic Fault Tree Analysis by Model Checking
                  Techniques, IEEE transactions on industrial informatics 14 (1), pages 370-379, IEEE, 2018.
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="//doi.org/10.1007/978-3-319-68270-9_19" target="_blank">
                  Joost-Pieter Katoen, Marielle Stoelinga. Boosting Fault Tree Analysis by Formal Methods, Volume 10500 of
                  LNCS, 368-389, Springer, 2017.
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://publications.rwth-aachen.de/record/684646" target="_blank">
                  Matthias Volk, Sebastian Junges, Joost-Pieter Katoen. Advancing Dynamic Fault Tree Analysis - Get
                  Succinct State Spaces Fast and Synthesise Failure Rates, 35. International Conference on Computer
                  Safety, Reliability, and Security (SAFECOMP), Volume 9922 of LNCS, 253-265, Springer, 2016.
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://doi.ieeecomputersociety.org/10.1109/DSN.2016.35" target="_blank">
                  Sebastian Junges, Dennis Guck, Joost-Pieter Katoen, Marielle Stoelinga. Uncovering Dynamic Fault Trees,
                  46. Annual IEEE/IFIP International Conference on Dependable Systems and Networks (DSN 2016), 299-310,
                  IEEE, 2016.
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>

              <li class="list-group-item"><a href="https://doi.org/10.1007/s00165-016-0412" target="_blank">
                  Sebastian Junges, Dennis Guck, Joost-Pieter Katoen, Arend Rensink, Mariëlle Stoelinga. Fault Trees on a
                  Diet, 1. International Symposium on Dependable Software Engineering (SETTA 2015), Volume 9409 of LNCS,
                  3-18, Springer, 2015.
                  <span><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                </a></li>
            </ul>

          </div>

        </section>

        <section id="documentationVideosId" class="mb-5">
          <div class="container-fluid col-sm-8 my-5 ">
            <div class="row" style="margin-top: 40px; margin-left: auto; margin-right: auto">
              <div class="csi-body">
                <h3 style="text-align: center">Videos</h3>
                <div class="divider-line-center"></div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row" style="background-color:#d2e3fc ; border-radius:
                20px">

              <div class="col-sm-6 m-auto">
                <div style="padding:3rem" class="text-center">
                  <h1>Helpful technology enables everyone to achieve their goals</h2>
                    <a href="#" type="button" class="btn btn-light btn-lg
                      text-primary">Watch More</a>
                </div>
              </div>
              <div class="col-sm-6 p-3">
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/htOP1C2RnxI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                <iframe class="my-3" width="560" height="315" src="https://www.youtube.com/embed/IQ1bV0ic3Ns"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>

            </div>
          </div>
          <!-- <div class="text-dark m-auto" style="width: 75%;">
              <h2 class=" text-center">Videos</h2>
                <div class="text-center mt-5">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/9p_s457RSQE?list=PLTsf9UeqkRebOYdw4uqSN0ugRShSmHrzH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
          </div> -->
        </section>
        <section id="documentationLecturesId" class="mb-5">
          <div class="container-fluid col-sm-8 my-5 ">
            <div class="row" style="margin-top: 40px; margin-left: auto; margin-right: auto">
              <div class="csi-body">
                <h3 style="text-align: center">Lectures</h3>
                <div class="divider-line-center"></div>
              </div>
            </div>
          </div>
          <div class="text-dark m-auto">
            <div>
              <!-- <h4 class="text-center mt-3"><i>Coming soon...</i></h4> -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="accordion" id="productsAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="automotiveCaseStudy">
                        <button type="button" class=" accordion-button
                            collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"><b
                            class="col-sm-12">Lectures</b></button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#productsAccordion">
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="https://vimeo.com/508000528/7a55e3ea8a">Model-Based Risk
                                Assessment - Why Risk models - Mariëlle Stoelinga<span><i
                                    class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
                              </a></li>
                            <li class="list-group-item"><a href="https://vimeo.com/508897192/2ae6724583">Fault Tree
                                Analysis - What are Fault Trees? - Mariëlle Stoelinga</a></li>
                            <li class="list-group-item"><a href="https://vimeo.com/509696368/4499088007">Fault tree
                                analysis - Cut Sets - Mariëlle Stoelinga</a></li>
                            <li class="list-group-item"><a href="https://vimeo.com/511184526/d7d937d6b4">Fault tree
                                analysis - Dynamic Fault Trees - Mariëlle Stoelinga</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

      </div>
    </div>
  </section>

  <div id="footerdgb"></div>
  <script>
    $(function () {
      $("#footerdgb").load("/src/commonUI/footer.html");
    });
  </script>
  <style>
    table, th, td {
    border: 1px solid;
    text-align: center;
    }
</style>
</body>

</html>