<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFEST</title>
    <link rel="icon" type="image/x-icon" class="h-25" href="/src/assets/images/fav_icon.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
      href="/src/components/support/dft-support.css" />
      <link rel="stylesheet" href="/index.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet">
    <script src="/script.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </head>

  <body>
    <nav id="navbar" class="navbar navbar-light bg-light navbar-expand-sm fixed-top"
    style="background-color:white; overflow:visible">
  
      <div class="navbar-wrapper d-flex align-items-center"> 
  
        <a class="navbar-brand" href="/index.html"><img src="/src/assets/images/SAFEST_LOGO_.png"
                                style="width: auto; height: 40px;"></a>
  
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapse"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse" id="collapse">
          <ul class="navbar-nav ms-auto me-auto">
            <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="/src/components/installation/installation.html" class="nav-link">Installation</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="licensesDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Licenses
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="licensesDropdown">
                      <li><a class="dropdown-item" href="/src/components/licenses/academic-license.html">Academic</a></li>
                      <li><a class="dropdown-item" href="/src/components/licenses/commercial-license.html">Commercial</a>
                      </li>
                    </ul>
                  </li>                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                      <li><a class="dropdown-item" href="/src/components/services/consultancy-services.html">Consultancy Services</a></li>
                      <li><a class="dropdown-item" href="/src/components/services/implementation-services.html">Implementation & Integration</a></li>
                    </ul>
                 </li>
                  <li class="nav-item"><a href=" /src/components/documentations/dft-documentations.html" class="nav-link">Resources</a></li>
                  <li class="nav-item active"><a href="/src/components/support/dft-support.html" class="nav-link">Support</a></li>
                  <li class="nav-item"><a href="/src/components/case_studies/dft-case-studies.html" class="nav-link">Case Studies</a></li>
                  <li class="nav-item"><a href="/src/components/latest_news/latest-news.html" class="nav-link">Latest News</a></li>
                  <li class="nav-item"><a href="/src/components/team/dft-team.html" class="nav-link">Team</a></li>
                  <li class="nav-item"><a href="/src/components/contact/contact.html" class="nav-link">Contact</a></li>
  
          </ul>
        </div>
        <a class="navbar-brand " href="https://www.dgbtek.com"><img src="/src/assets/images/dgb-logo.png"
                                      style="width: auto; height: 40px;"></a>
      </div>
    </nav>
        

      <section style="margin-top: 4rem">
        <div class="content">

      
        <div class="container-fluid col-sm-8">
          <div class="row">
            <div class="bg-image text-center shadow-1-strong mb-2 rounded text-secondary">
              <img src="/src/assets/images/support-imag.png"   width="40%" alt="">
            </div>
            <div class="col-sm-12">
              <p class="text-center mb-5">Please use the following links to report
                issues & suggestions, discuss ideas and watch video demos</p>
            </div>
          </div>
          <div class="row justify-content-center mb-5 ">
            <div class="col-sm-3">
              <a href="https://github.com/DGBTechnologies/SAFEST/discussions" target="_blank" rel="noreferrer noopener" >
                <div class="card">
                  <div class="m-auto py-3">
                    <img src="/src/assets/images/dicussion.png"
                      alt="research-student" width="100%">
                  </div>
                  <div class="card-body">
                    <h6 class="card-title text-center " style="color: #000 ;">Discussions</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="https://github.com/DGBTechnologies/SAFEST/issues" target="_blank" rel="noreferrer noopener" >
                <div class="card">
                  <div class="m-auto py-3">
                    <img src="/src/assets/images/issues.jpg"
                      alt="research-student" width="100%">
                  </div>
                  <div class="card-body">
                    <h6 class="card-title text-center" style="color: #000 ;">Issues
                      & Suggestions</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-3">
              <a href="https://www.youtube.com/@SAFESTPRA" target="_blank" rel="noreferrer noopener" >
                <div class="card">
                  <div class="m-auto py-3">
                    <img src="/src/assets/images/youtube.png"
                      alt="research-student" width="100%">
                  </div>
                  <div class="card-body">
                    <h6 class="card-title text-center">Youtube</h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="container-fluid">
            <hr>
            <p class="p-5 text-center"> For any queries, please feel free to
              reach us at
              <a href="mailto:safest@dgbtek.com">safest@dgbtek.com</a></p>
            <hr>
          </div>
          <div class="container-fluid col-sm-8 my-5 ">
            <div class="row" style="margin-top: 40px; margin-left: auto; margin-right: auto">
              <div class="csi-body">
                <h3 style="text-align: center">Frequently Asked Questions</h3>
                <div class="divider-line-center"></div>
              </div>
            </div>
          </div>
        </div>
  
  
        <div class="container-fluid col-sm-8">
          <div class="row">
            <div class="col-sm-12">
              <div class="accordion" id="productsAccordion">
  
                <div class="accordion-item">
                  <h2 class="accordion-header" id="allProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapseOne">GUI</button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="businessProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapseTwo">Custom
                      Metrices</button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                    
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h2 class="accordion-header" id="developerProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapseThree">Analysis
                      Types</button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="allProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapsefour">Exact
                      Verification</button>
                  </h2>
                  <div id="collapsefour" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="allProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapsefive">Approximate Verification</button>
                  </h2>
                  <div id="collapsefive" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="allProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapsesix">Graphs</button>
                  </h2>
                  <div id="collapsesix" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="allProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapseseven">Simulation</button>
                  </h2>
                  <div id="collapseseven" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                      
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="allProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapseeight">Simplification</button>
                  </h2>
                  <div id="collapseeight" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                     
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="allProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapsenine">Modularization</button>
                  </h2>
                  <div id="collapsenine" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                     
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="allProducts">
                    <button type="button" class="accordion-button collapsed"
                      data-bs-toggle="collapse" data-bs-target="#collapseten">SYSML-DFT</button>
                  </h2>
                  <div id="collapseten" class="accordion-collapse collapse"
                    data-bs-parent="#productsAccordion">
                    <div class="card-body">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>  
    </section>

    <div id="footerdgb"></div>
    <script>
        $(function(){
          $("#footerdgb").load("/src/commonUI/footer.html");
        });
        </script>
  </body>

</html>
