<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>storm-dft</title>
    <link rel="icon" type="image/x-icon"
      href="/src/assets/images/dgb-logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
      href="/src/components/collaborator/collaburator.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/script.js "></script>
  </head>

  <body>
    <div id="nav-placeholder"></div>
    <div class="content">
      <nav class="navbar navbar-light bg-light navbar-expand-sm "
        id="local-nav">
        <div class="container mt-3">
          <ul class="navbar-nav px-5 ms-auto me-auto">
            <li class="nav-item justify-content-center"><a
                href="#Collaborators"
                class="nav-link">Collaborators</a></li>
            <li class="nav-item justify-content-center"><a
                href="#clients"
                class="nav-link">Clients</a></li>
            <li class="nav-item justify-content-center"><a
                href="#whyUs"
                class="nav-link">Why us</a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <h1 id="Collaborators" class="text-center">Collaborators</h1><br>

          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-sm-2">
            <img src="/src/assets/images/apple.png"
              alt="research-student" width="200px" >
          </div>
          <div class="col-sm-2">
            <img src="/src/assets/images/nike.png"
              alt="research-student" width="200px">
          </div>
          <div class="col-sm-2">
            <img src="/src/assets/images/huawei.png"
              alt="research-student" width="200px">
          </div>
          <div class="col-sm-2">
            <img src="/src/assets/images/discord.png"
              alt="research-student" width="200px">
          </div>
          <div class="col-sm-2">
            <img src="/src/assets/images/mcdonalds.png"
              alt="research-student" width="200px" >
          </div>
          


          <!-- <div class="col-sm-3">
            <a href="https://github.com/storm-dft/dft-ui/issues">
              <div class="card">
                <div class="m-auto py-3">
                  <img src="/src/assets/images/issues.jpg"
                    alt="research-student" class="avatar">
                </div>
                <div class="card-body">
                  <h6 class="card-title text-center" style="color: #000 ;">Issues
                    & Suggestions</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="m-auto py-3">
                <img src="/src/assets/images/youtube.png"
                  alt="research-student" class="avatar">
              </div>
              <div class="card-body">
                <h6 class="card-title text-center">Youtube</h5>
              </div>
            </div>
          </div> -->
        </div>


        <div class="row">
          <div class="col-sm-12">
            <h1 id="clients" class="text-center">Clients</h1><br>

          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-sm-3">
            <a href="https://github.com/storm-dft/dft-ui/discussions">
              <div class="card">
                <div class="m-auto py-3">
                  <img src="/src/assets/images/discussion.jpg"
                    alt="research-student" class="avatar">
                </div>
                <div class="card-body">
                  <h6 class="card-title text-center " style="color: #000 ;">Discussions</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="https://github.com/storm-dft/dft-ui/issues">
              <div class="card">
                <div class="m-auto py-3">
                  <img src="/src/assets/images/issues.jpg"
                    alt="research-student" class="avatar">
                </div>
                <div class="card-body">
                  <h6 class="card-title text-center" style="color: #000 ;">Issues
                    & Suggestions</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="m-auto py-3">
                <img src="/src/assets/images/youtube.png"
                  alt="research-student" class="avatar">
              </div>
              <div class="card-body">
                <h6 class="card-title text-center">Youtube</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid row">
          <div class="col-sm-6 pe-5" id="whyUs"> <div class="display-3">
              <strong> Why us?</strong></div>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. At iure repudiandae alias
              consequuntur nulla nobis et optio minus, earum doloremque. Labore
              ducimus consequatur assumenda repellendus ipsam eos doloremque,
              odit dolores quis voluptates rerum adipisci perspiciatis explicabo
              itaque porro cupiditate repellat sunt nesciunt velit voluptas.
              Totam qui adipisci voluptas odio magni atque recusandae, tenetur
              esse vero, iusto harum fuga ducimus odit expedita eum praesentium
              cupiditate assumenda distinctio voluptatem excepturi eveniet
              voluptate! Eius, reprehenderit. Labore animi officia, deserunt
              aliquam hic iste quod fuga ipsum mollitia odio nesciunt rerum
              aperiam minima amet voluptatem repellendus ut quaerat assumenda
              ea! Alias, obcaecati ex?
              Cupiditate alias ut suscipit exercitationem in, beatae deleniti
              eius temporibus quaerat ex molestias nisi tempore ad sunt
              eligendi! Maiores doloribus odio, eum dicta optio nihil amet
              consequatur adipisci ipsa tempora culpa nobis quia? Porro
              aspernatur atque quos provident tenetur hic vitae cumque
              laboriosam! Facere, eum ullam. Nihil obcaecati nam facilis ex
              harum. Sit quos cum provident a nobis optio nulla repellat
              molestiae est. Non, hic ea necessitatibus repellat impedit cumque
              expedita sint eos autem quia odio, pariatur velit aliquam maxime
              corporis distinctio aliquid quas. Est corporis voluptate
              architecto aperiam minus cum illo doloremque assumenda velit sequi
              libero ducimus iste quam fugit earum, molestiae cupiditate
              accusantium itaque magnam! Minima optio nesciunt facere eum
              molestiae,
              voluptatum ipsum repellendus eaque excepturi, vero ullam expedita
              error earum obcaecati quod consectetur aliquid soluta harum?
              Facere accusamus porro ullam corrupti harum autem consequuntur ex
              excepturi beatae, mollitia similique eligendi cumque illum tenetur
              neque odio eius ducimus quos reprehenderit minima nobis delectus
              ad impedit eaque? Natus ea, reprehenderit nobis deserunt aperiam
              unde quasi laborum voluptatem recusandae saepe. Illum ipsum vel,
              tempora delectus voluptate libero consectetur, quasi laborum autem
              eveniet necessitatibus animi iure vero sapiente perferendis
              aspernatur cum commodi ea perspiciatis labore minima temporibus.
              Eos repudiandae reiciendis dolorem facere laudantium eaque
              voluptatum similique ipsam recusandae velit laborum inventore
              officia, delectus nemo vero laboriosam quam pariatur distinctio
              blanditiis,
              facilis doloremque! Sunt itaque dolorem impedit nulla est
              reiciendis quasi, ullam minus, recusandae quidem adipisci aperiam
              sequi non earum incidunt, nisi reprehenderit magni velit obcaecati
              illum dignissimos veniam! Aspernatur in culpa id inventore nam
              rem, voluptates, alias illo, molestiae cupiditate illum delectus!
              Libero excepturi deleniti placeat, ab dolorem laudantium quam cum
              labore recusandae cumque, obcaecati debitis quidem unde minima
              autem illum iure culpa accusantium, exercitationem praesentium
              voluptates sunt ex. Cupiditate, excepturi unde iusto deserunt
              illum alias minus explicabo iste soluta ad praesentium animi
              voluptate impedit! Non modi ut optio magnam odio labore, rem
              eligendi ea in minima error fugiat corporis ratione incidunt
              quibusdam,
              assumenda neque aliquid consequuntur voluptatem delectus
              necessitatibus vitae quod dolor excepturi. Ex tempore inventore
              mollitia minima dolores voluptatibus atque amet obcaecati, nam
              laborum fuga iusto sint sit quo recusandae libero neque nisi earum
              beatae voluptatum! Culpa vitae quo nesciunt delectus veritatis,
              architecto adipisci quidem eligendi ad ut recusandae dolorem?
              Voluptates aliquid et eum tempore aspernatur id quaerat illum
              animi nemo, voluptatum dolor est! Dolore amet qui, eum dignissimos
              architecto laboriosam alias adipisci repellat ut iure veritatis
              rem doloremque ullam quibusdam sunt, sed corrupti facere quae
              impedit deserunt sit. Perspiciatis unde rerum eligendi ea
              obcaecati inventore laudantium quos vero voluptatum vitae iure
              ducimus,
              minima assumenda architecto explicabo sint nesciunt excepturi ab
              sequi. Recusandae laborum porro dolor quae omnis cum quos
              repellendus voluptatem illo natus tenetur, totam alias explicabo
              sed, sequi dolore! Asperiores nobis ab exercitationem alias velit
              molestiae et ipsum perspiciatis hic quasi numquam nostrum quis
              voluptatum, in tempora repellat accusamus ipsa, dolor doloremque
              neque facere beatae necessitatibus? Iusto nostrum eos dolores
              excepturi enim vitae eius, perspiciatis aperiam quia nisi, tempore
              illo voluptatum qui totam illum repudiandae optio dignissimos
              ipsam a! Deserunt obcaecati magnam ea, aspernatur rerum
              accusantium nisi excepturi consectetur iste, praesentium
              doloribus! Dignissimos eligendi molestias eveniet doloremque
              ratione perferendis maiores eum mollitia voluptas placeat corporis
              rerum sint,
              ad tempora repudiandae omnis consequatur et quisquam, alias minus
              corrupti odit necessitatibus autem expedita! Nobis tempore nam
              corporis, hic numquam earum velit repellendus odio fugiat officiis
              iure obcaecati ipsam illo ipsa voluptates facilis commodi. Optio
              quod aspernatur laudantium labore deserunt, hic modi sapiente aut
              repudiandae similique. Officiis adipisci repellendus cupiditate
              assumenda eos ad, amet iste laboriosam quidem id corrupti
              reprehenderit recusandae ab expedita labore. Totam nisi et
              voluptatem vitae quas eveniet debitis accusantium voluptas, dicta
              ipsam iure dolores harum. Dicta ut soluta iure, dignissimos
              dolores at temporibus, qui blanditiis, iste obcaecati mollitia ex
              pariatur minus magnam sit quasi? Totam temporibus modi similique
              alias officiis fugit quidem corporis, in assumenda error rem
              eveniet provident explicabo cupiditate illum eligendi sapiente
              blanditiis nihil illo qui iure molestiae?
              Cumque quidem rem aliquid earum magni deserunt perferendis
              provident, quas praesentium deleniti illo quibusdam rerum eligendi
              facilis adipisci? Fugiat culpa sequi natus quibusdam pariatur quo
              minus iusto ullam ab, quidem sapiente laudantium temporibus
              deserunt? Quo vitae voluptatum magnam repellat ut? Distinctio
              voluptatem velit, ducimus laudantium nulla nemo vero maxime unde
              nesciunt placeat dolor nam omnis praesentium minus optio autem.
              Quasi, odit temporibus nulla, esse quam voluptatem placeat quia
              excepturi totam cum similique fugit sunt iste in consequuntur
              voluptate porro quas aperiam reprehenderit. Deleniti eligendi in
              sint.</p>
          </div>
          <div class=" col-sm-6 bg-light p-5"></div>
        </div>



        <div class="row container-fluid mt-5">
          <div class="col-sm-3">
            <div class="card " id="card">
              <p><i class="fa fa-user fa-4x"></i></p>
              <h3>11+</h3>
              <p>Partners</p>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card " id="card">
              <p><i class="fa fa-check fa-4x"></i></p>
              <h3>55+</h3>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card " id="card">
              <p><i class="fa fa-smile-o fa-4x"></i></p>
              <h3>100+</h3>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card " id="card">
              <p><i class="fa fa-coffee fa-4x"></i></p>
              <h3>100+</h3>
              <p>Meetings</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footerdgb"></div>
    <script>
        $(function(){
          $("#nav-placeholder").load("/src/commonUI/navbar.html");
        });
        $(function(){
          $("#footerdgb").load("/src/commonUI/footer.html");
        });
        </script>
  </body>

</html>
