<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFEST</title>
    <link rel="icon" type="image/x-icon" class="h-25" href="/src/assets/images/fav_icon.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/src/components/team/dft-team.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/script.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
  <div id="nav-placeholder"></div>
    <!-- <div class="bg-image p-5 text-center shadow-1-strong mt-5 rounded text-white"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
    <h1 class="mb-3 h"><i class="px-2 fa fa-users" aria-hidden="true"></i>Team</h1>
  </div> -->
  <section style="margin-top: 7rem"> 
    <div class="container-fluid col-sm-12 mt-5" >

      <!-- <div class="row py-3 my-4 text-dark">
        <div class="col-sm-12" >
          <h2 class=" text-center"><i class="px-2 fa fa-users" aria-hidden="true"></i>Team</h3>
          </div>
      </div> -->

        <div class="row text-dark py-3 my-4">
          <div class="col-sm-12" >
            <h3 class=" text-center">Scientific Advisory Board</h3>
         </div>
        </div>
  
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/src/assets/images/Mariëlle.png">
            </div>
            <div class="team-content">
              <h5 class="name">Prof. Mariëlle Stoelinga</h5>
              <p class="title">Formal Methods and Tools group at the University of Twente, Enschede and (part-time) Department of Software Science at Radboud University, Nijmegen. 
              </p>
            </div>
            <ul class="social">
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li> -->
              
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://people.utwente.nl/m.i.a.stoelinga" target="_blank"  class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/src/assets/images/prof-katoen.jpg">
            </div>
            <div class="team-content">
              <h5 class="name">Prof. Joost-Pieter Katoen</h5>
              <p class="title">Software Modelling and Verification group, RWTH Aachen University, Aachen, Germany and (part-time) Formal Methods and Tools group at the University of Twente, Enschede. 
              </p>
            </div>
            <ul class="social">
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li> -->
              
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://moves.rwth-aachen.de/people/katoen/ class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/src/assets/images/matthias-volk.jpg">
            </div>
            <div class="team-content" >
              <h5 class="name">Dr. Matthias Volk.</h5>
              <p class="title">Formal Methods and Tools group at Eindhoven University of Technology.
              </p>
            </div>
            <ul class="social">
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li> -->
              <!--  -->
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://moves.rwth-aachen.de/people/volk/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
         </div>
          
      </div>

      <div class="row text-dark my-4">
        <div class="col-sm-12" >
          <h3 class="text-center">Leadership</h3>
       </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/src/assets/images/dr-falak.png">
            </div>
            <div class="team-content">
              <h5 class="name">Dr. Falak Sher</h5>
              <p class="title">Software Modelling and Verification group, RWTH Aachen University. Formal Methods Group at DGB Technologies</p>
            </div>
            <ul class="social">
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li> -->
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://www.linkedin.com/in/ch-falak-sher-vira-7425a496/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/src/assets/images/ahmad.png">
            </div>
            <div class="team-content">
              <h5 class="name">Ahmad Zafar</h5>
              <p class="title"> Formal Methods Group at DGB Technologies 
              </p>

            </div>
            <ul class="social">
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li> -->
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://www.linkedin.com/in/ahmad-zafar-9a583b59/?originalSubdomain=pk" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="/src/assets/images/waqas-pic.png">
            </div>
            <div class="team-content">
              <h5 class="name">Ahmad Waqas</h5>
              <p class="title">Formal Methods Group at DGB Technologies 
              </p>

            </div>
            <ul class="social">
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li> -->
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://www.linkedin.com/in/ahmad-waqas-42a498122/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
           
      </div>
    </div>
  </section>


    <div id="footerdgb"></div>
    <script>
        $(function () {
          $("#nav-placeholder").load("/src/commonUI/navbar.html");
        });
        $(function(){
          $("#footerdgb").load("/src/commonUI/footer.html");
        });
        </script> 
</body>

</html>