.navbar {
  padding: 5px 90px 0px 90px;
  transition: 0.4s;
  background-color: white;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: linear-gradient( black  0%, #FFFFFF 100%); */
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 1px #0d3064;
  top: 0;
  z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
  color: #333434;
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
}
.navbar-light .navbar-nav .nav-link.compressed {
  color: #333434;
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
  transform: scale(1.1);
  color: #3b3c42;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #333434;
}

.navbar-nav .nav-link {
  display: inline-block;
}

.nav-item.active .nav-link.compressed {
  color: #333434;
}

/*@media (min-width: 576px) {  }*/

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-brand img {
    max-width: 100px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav {
    padding: 18px 35px 15px 80px;
    margin-left: 38px !important;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    font-weight: 360;
    line-height: 1.5rem;
    flex-direction: row;

    display: flex;
    felx-wrap: wrap;
  }
  .navbar-nav li.why-us {
    width: 74px;
  }
  .navbar-nav li.our-leadership {
    width: 74px;
  }

  .navbar .navbar-brand img {
    max-width: 100px;
  }
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0.5px;
    width: inherit;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
