<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>SAFEST</title>
        <link rel="icon" href="/src/assets/images/fav_icon.png" type="image/png" />
        <link href="/src/components/services/services.css" rel="stylesheet" />
        <link rel="stylesheet" href="/index.css" />
        <link
          href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet"
        />
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
        />
        <link
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous"
        />
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="/script.js "></script>
            <link
              rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
              integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
            />
</head>
<body>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
	<nav id="navbar" class="navbar navbar-light bg-light navbar-expand-sm fixed-top"
	style="background-color:white; overflow:visible">

		<div class="navbar-wrapper d-flex align-items-center"> 

			<a class="navbar-brand" href="/index.html"><img src="/src/assets/images/SAFEST_LOGO_.png"
															style="width: auto; height: 40px;"></a>

			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapse"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="collapse">
				<ul class="navbar-nav ms-auto me-auto">
					<li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/src/components/installation/installation.html" class="nav-link">Installation</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="licensesDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Licenses
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="licensesDropdown">
                    <li><a class="dropdown-item" href="/src/components/licenses/academic-license.html">Academic</a></li>
                    <li><a class="dropdown-item" href="/src/components/licenses/commercial-license.html">Commercial</a>
                    </li>
                  </ul>
                </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                    <li><a class="dropdown-item active" href="/src/components/services/consultancy-services.html">Consultancy</a></li>
                    <li><a class="dropdown-item" href="/src/components/services/implementation-services.html">Implementation & Integration</a></li>
                  </ul>
               </li>
                <li class="nav-item"><a href=" /src/components/documentations/dft-documentations.html" class="nav-link">Resources</a></li>
                <li class="nav-item"><a href="/src/components/support/dft-support.html" class="nav-link">Support</a></li>
                <li class="nav-item "><a href="/src/components/case_studies/dft-case-studies.html" class="nav-link">Case Studies</a></li>
                <li class="nav-item active"><a href="/src/components/latest_news/latest-news.html" class="nav-link">Latest News</a></li>
                <li class="nav-item"><a href="/src/components/team/dft-team.html" class="nav-link">Team</a></li>
                <li class="nav-item"><a href="/src/components/contact/contact.html" class="nav-link">Contact</a></li>

				</ul>
			</div>
			<a class="navbar-brand " href="https://www.dgbtek.com"><img src="/src/assets/images/dgb-logo.png"
																		style="width: auto; height: 40px;"></a>
		</div>
	</nav>
	

    <section style="margin-top: 1rem">
        <div class="content py-3 my-3">
    
          <div class="container-fluid my-2  py-5 col-sm-8" style="margin-bottom:20px !important">
            <div class="bg-image text-center mb-2 shadow-1-strong rounded text-secondary">
              <img src="/src/assets/images/latest-news.png"   width="30%" alt="">
            </div>
            <div class="csi-body mb-5">
                <!-- <h3 style="text-align: center">Latest News</h3> -->
                <!-- <div class="divider-line-center"></div> -->
                <p style="text-align: center;">
                    Stay up-to-date with the latest content from DGB as we add new features to SAFEST, do case
                     studies, attend seminars, publish contents in international conferences, etc.
                  </p>
            </div>
              <section class="feature-section">
                <div class="feature-grid">
                    <div class="feature-item">
                         <div class="feature-item-icon" style="background-color: #e6f7ff;"> <i class="fas fa-bullhorn"></i> </div>
                         <div class="feature-item-content">
                            <h3>SAFEST Enterprise (release in January 2025)</h3>
                            <p>SAFEST is being developed with new features like use-management, work-spaces, group editing of
                                fault/event trees, etc. to make it appropriate for big enterprises. Watch out!
                            </p>
                         </div>
                    </div>
                      <div class="feature-item">
                         <div class="feature-item-icon" style="background-color: #ffe6e6;"> <i class="fas fa-book"></i> </div>
                         <div class="feature-item-content">
                            <h3>Book chapter contribution</h3>
                            <p>The chapter entitled <a href="https://link.springer.com/chapter/10.1007/978-3-031-75778-5_13">“Modular Criticality Analysis for Dynamic Fault Trees”</a>  by Falak Sher, Marielle
                                Stoeling, and Matthias Volk has been contributed to the book “Principles of Verification: Cycling
                                the Probabilistic Landscape” in Volume 15262 of the Lecture Notes in Computer Science series
                                (LNCS), 2024.
                            </p>
                          </div>
                      </div>
                     <div class="feature-item">
                          <div class="feature-item-icon" style="background-color: #e6ffe6;"> <i class="fas fa-newspaper"></i> </div>
                            <div class="feature-item-content">
                              <h3>Publication at ESREL 2024</h3>
                                <p>The paper entitled <a href="https://esrel2024.com/wp-content/uploads/articles/part1/advancing-nuclear-reactor-safety-analysis-methodological-innovations-and-results-from-dynamic-probabilistic-safety-assessment.pdf">“Advancing Nuclear Reactor Safety Analysis: Methodological Innovations And
                                    Results From Dynamic Probabilistic Safety Assessment.”</a> by Masood Akmail and Falak Sher has been
                                    presented at the European Conference On Safety and Reliability (ESREL) 2024.
                              </p>
                            </div>
                     </div>
                     <div class="feature-item">
                            <div class="feature-item-icon" style="background-color: #fff0e6;"> <i class="fas fa-code-branch"></i> </div>
                             <div class="feature-item-content">
                               <h3>SFEST v2 release</h3>
                               <p>A new version of SAFEST has been released with many exciting features like multi-page graphical
                                    simulation, probabilistic dependencies, etc. Plesae have a look of details features on the
                                    Installation page.
                              </p>
                             </div>
                      </div>
                    <div class="feature-item">
                       <div class="feature-item-icon" style="background-color: #f0e6ff;"> <i class="fas fa-landmark"></i> </div>
                         <div class="feature-item-content">
                             <h3>Publication at IAEA 2024</h3>
                                <p>The paper entitled <a href="https://www.iaea.org/sites/default/files/24/10/cn-327_book_of_abstracts.pdf">“Evolving PSA Methodologies: Towards Dynamic Reliability in SMR Passive
                                    Systems.”</a> by Masood Akmail and Falak Sher has been presented at the International Conference on
                                    Small Modular Reactors and their Applications 2024, IAEA, Vienna.
                               </p>
                          </div>
                     </div>
                     <div class="feature-item">
                         <div class="feature-item-icon" style="background-color: #e6f7ff;"> <i class="fas fa-calendar-check"></i> </div>
                         <div class="feature-item-content">
                            <h3>Publication at RAMS 2024</h3>
                              <p>The paper entitled <a href="https://ris.utwente.nl/ws/portalfiles/portal/392880907/SAFEST_Fault_Tree_Analysis_Via_Probabilistic_Model_Checking.pdf">“SAFEST: Fault Tree Analysis via Probabilistic Model Checking.”</a> by Matthias Volk,
                                    Falak Sher, Joost-Pieter Katoen and Marielle Stoelinga has been presented at the 70th Annual
                                    Reliability and Maintainability Symposium (RAMS) 2024;
                               </p>
                          </div>
                     </div>
                     <div class="feature-item">
                       <div class="feature-item-icon" style="background-color: #ffe6e6;"> <i class="fas fa-newspaper"></i> </div>
                         <div class="feature-item-content">
                            <h3>Publication at ESREL 2023</h3>
                               <p>The paper entitled <a href="https://link.springer.com/chapter/10.1007/978-3-031-75778-5_13">“SAFEST: the static and dynamic fault tree analysis tool.”</a> by Ahmad Zafar,
                                    Joost-Pieter Katoen, Falak Sher, Marielle Stoelinga, Muzammil Ibne-Irshad been presented at the
                                    European Conference On Safety And Reliability (ESREL) 2023.
                               </p>
                          </div>
                     </div>
            
                </div>
            </section>
        </div>
    
      </section>

    <div id="footerdgb"></div>
  <script>
    $(function () {
      $("#footerdgb").load("/src/commonUI/footer.html");
    });
  </script>
</body>

</html>